{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1>Sign Up</h1>

<form method = 'POST' action = '/sign-up'>
  <div class = 'form-group'>
  <label for = 'sign-up-username'> Username</label>
  <br>
  <input type = 'username' name = 'username' placeholder = 'Your username'>
</div>

    <div class = 'form-group'>
   <label for = 'sign-up-password'> Password</label>
   <br>
  <input type ='password' name = 'password'placeholder = 'A safe password'>
  </div>

<button>Create Account</button>

</div>
</form>
